body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  background-color: black;
}

.header {
  width: 100%;
  height: auto;
  background-color: black;
}

.navbar {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  text-transform: uppercase;
  align-items: center;
  font-weight: 900;
  font-family: 'Times New Roman', Times, serif;
}

.menu ul li {
  display: inline;
  align-items: center;
  justify-content: center;
  padding: 20px;
  list-style: none;

}

.menu ul li a {
  text-decoration: none;
  color: white;
}

.search {
  align-items: center;
  justify-content: center;
  display: flex;
  padding-right: 20px;
}

.search input {
  font-size: 20px;
  border-radius: 20px;
  padding-left: 30px;
  padding: 10px 20px;

}

.menu ul li:hover a{
  color: rgb(247, 167, 8);
  cursor: pointer;
}


/* Card */


.container-card {
  margin: auto;
}

.card {
  width: auto;
  height: auto;
  margin: auto;
  font-size: 20px;
  border: 1px solid rgb(3, 2, 2);
  background-color: white;
  color: black;
}

:hover .card {
  color: blue;
  cursor: pointer;
}

.grid {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  grid-column-gap: 25rem;
  grid-row-gap: 5rem;
  text-align: center;
  align-items: center;
  justify-content: center;

}

.detail {
  margin: auto;
}

.share {
  color: rgb(239, 181, 8);
  font-weight: 500;
}

/* @media (max-width:500px) {
  .navbar {
    display: grid;
    grid-template-columns: 1fr;
  }
}

@media (max-width:500px) {
  .menu ul {
    display: grid;
    flex-direction: column;
  }

} */

.container-card-details{
  width: 1800px;
  height: auto;
  margin: auto;

}
.container-card-details .main{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 10rem;
  justify-content: space-around;
}
.main .img img{
  width: 300px;
  height: auto;
}
.details{
  font-family: 'Times New Roman', Times, serif;
}
.cast{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.cast .image-datail{
  width: 440px;
  height: 400px;
  border: 1px solid white;
  cursor: pointer;
}
.images{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.images .image{
  width: 440px;
  height: 400px;
  border: 1px solid white;
}


.container-tv-show{
  width: 1800px;
  height: auto;
  margin: auto;
  color: black;
}
.card-tv-show{
  width: 500px;
  height: auto;
  border: 5px solid white;
  background-color: white;
  text-align: left;
}
 .card-tv-show img{
  height: 400px;
  width: 500px;
}
